Repository teaSummer/MCiSEE, pull requests merged in 2025-08, with the labels that each got.

#61 更新Zalith Launcher启动器版本
  data/launcher.jsonc
Labels: 数据更新 | update data

#64 fix:修复工具因过多而溢出问题
  assets/main.css
  assets/mobile.css
  scripts/main.js
  server.js
Labels: 数据修正 | fix data

#66 fix:修复部分桌面端下工具按钮溢出问题
  assets/main.css
  scripts/main.js
Labels: 数据修正 | fix data, 程序更改 | code, 漏洞 | bug

#67 新增两个服务端
  data/utilityWebsite.jsonc
Labels: 数据新增 | add data
