Repository teaSummer/MCiSEE, pull requests merged in 2025-02, with the labels that each got.

#13 feat: add allaymc to utility websites
  data/utilityWebsite.json5
Labels: 数据新增 | add data

#12 针对 `Minecraft` 的版权声明(?)
  assets/light.css
  index.html
  locales/en.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
Labels: 程序更改 | code, 文档 | doc

#15 加入一个工具
  data/utilityWebsite.json5
Labels: 数据新增 | add data

#17 Update launcher links and add Sharp Craft Launcher support
  data/launcher.json5
Labels: 数据修正 | fix data, 数据新增 | add data

#18 Update GitHub proxy URL to ghfast.top
  locales/en.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  scripts/init.js
Labels: 程序更改 | code

#23 修改css & 增加网站
  assets/dark.css
  data/utilityWebsite.json5
Labels: 程序更改 | code, 数据新增 | add data

#24 Update forum.json5
  data/forum.json5
Labels: 数据新增 | add data

#25 Update utilityWebsite.json5
  data/utilityWebsite.json5
Labels: 数据新增 | add data

#27 Update utilityWebsite.json5
  data/utilityWebsite.json5
Labels: 数据新增 | add data, 存在问题 | wrong

#28 Update launcher.json5
  data/launcher.json5
Labels: 数据新增 | add data

#29 Update utilityWebsite.json5
  data/utilityWebsite.json5
Labels: 数据新增 | add data

#34 Update FCL version and Change pojav download url
  data/launcher.json5
Labels: 数据修正 | fix data, 数据更新 | update data

#36 添加模组&插件开发相关网站
  data/utilityWebsite.json5
Labels: 数据新增 | add data

#42 添加了多个启动器和资源网站
  data/launcher.json5
  data/utilityWebsite.json5
Labels: 数据新增 | add data

#43 feat: add EndstoneMC
  data/utilityWebsite.json5
Labels: 数据新增 | add data

#44 在 utilityWebsite.json5 的资源版块内添加了GTMC相关内容
  data/utilityWebsite.json5
Labels: 数据新增 | add data

#46 更新新的网站，修改部分内容
  data/forum.json5
  data/utilityWebsite.json5
Labels: 数据新增 | add data, 数据更新 | update data
